<h1>Reset your password</h1>
<form [formGroup]="this.form" (ngSubmit)="onSubmit()">
  <div id="code">
    <div>
      <label for="code" #confirmCode>Confirmation code</label>
      <input
        [id]="confirmCode.attributes.getNamedItem('for')"
        type="number"
        formControlName="code"
        (focus)="this.codeFocused = true"
        (blur)="this.codeFocused = false"
      />
      <input-errors [hideErrors]="this.codeFocused" [control]="this.form.controls.code"> </input-errors>
    </div>
    <div>Lost your code? <a (click)="this.resendCode()">Resend code</a>.</div>
  </div>
  <div>
    <label for="password" #password>Password</label>
    <input
      [id]="password.attributes.getNamedItem('for')"
      type="text"
      [placeholder]="password.textContent"
      formControlName="password"
      (focus)="this.passwordFocused = true"
      (blur)="this.passwordFocused = false"
    />
    <input-errors [hideErrors]="this.passwordFocused" [control]="this.form.controls.password"> </input-errors>
  </div>
  <aside>
    <div>Already have an account? Sign in <a [routerLink]="'/authentication/sign-in'">here</a>.</div>
  </aside>
  <footer>
    <div>
      <strong>{{ this.errorMessage }}</strong>
    </div>
    <button type="submit">Confirm</button>
  </footer>
</form>
