<h1>Reset your password</h1>
<form [formGroup]="this.form" (ngSubmit)="onSubmit()">
  <div id="code">
    <div>
      <label for="code" #confirmCode>Confirmation code</label>
      <input [id]="confirmCode.attributes.getNamedItem('for')" type="number" formControlName="code" />
    </div>
    <div>Lost your code? <a href="#">Resend code</a>.</div>
  </div>
  <div>
    <label for="password" #password>Password</label>
    <input
      [id]="password.attributes.getNamedItem('for')"
      type="text"
      [placeholder]="password.textContent"
      formControlName="password"
    />
  </div>
  <aside>
    <div>Already have an account? Sign in <a [routerLink]="'/authentication/sign-in'">here</a>.</div>
  </aside>
  <footer>
    <button type="submit">Confirm</button>
  </footer>
</form>
