<h1>Reset your password</h1>
<form [formGroup]="this.form" (ngSubmit)="onSubmit()">
  <div>
    <label for="username" #username>Username</label>
    <input
      [id]="username.attributes.getNamedItem('for')"
      type="text"
      [placeholder]="username.textContent"
      formControlName="username"
      (focus)="this.usernameFocused = true"
      (blur)="this.usernameFocused = false"
    />
    <input-errors [hideErrors]="this.usernameFocused" [control]="this.form.controls.username"> </input-errors>
  </div>
  <aside>
    <div>Already have an account? Sign in <a [routerLink]="'../'">here</a>.</div>
  </aside>
  <footer>
    <div>
      <strong>{{ this.errorMessage }}</strong>
    </div>
    <button type="submit">Send Code</button>
  </footer>
</form>
